<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="lop" class="org.example.Class_">
        <property name="classId" value="001"/>
        <property name="className" value="Lop DHKTPM16A"/>
    </bean>
    <bean id="st2" class="org.example.Student">
        <property name="id" value="001"/>
        <property name="name" value="me may beo"/>
        <property name="class_" ref="lop" />
    </bean>
</beans>